.container li{
    position: relative;
}

.container  a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d8e2dc;
}
.container ul{
    list-style: none;
    padding: 0;
}

.container ul li{
    width: 35px;
    height: 35px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1.5px solid #d8e2dc;
    float: left;
}

.container ul li .fa-brands{
    color: #d8e2dc;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.container ul li:hover.whatsapp{
    border: 1px solid #4AC959;
    box-shadow: 0 0 15px #4AC959;
}

.container ul li:hover .fa-whatsapp{
    color: #4AC959;
    text-shadow: 0 0 15px #4AC959;
}

.container ul li:hover.facebook{
    border: 1px solid #1877F2;
    box-shadow: 0 0 15px #1877F2;
}

.container ul li:hover .fa-facebook{
    color: #1877F2;
    text-shadow: 0 0 15px #1877F2;
}

.container ul li:hover.instagram{
    border: 1px solid #ff00d9;
    box-shadow: 0 0 15px #ff00d9;
}

.container ul li:hover .fa-instagram{
    color: #ff00d9;
    text-shadow: 0 0 15px #ff00d9;
}
.container ul li:hover.github{
    border: 1px solid #00e1ff;
    box-shadow: 0 0 15px #00e1ff;
}

.container ul li:hover .fa-github{
    color: #00e1ff;
    text-shadow: 0 0 15px #00e1ff;
}
